# Ignore
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

*.pdf
*.DS_Store

# Allow
!/courses/PH403/Fall/PH403_ThesisProposal_Knudson_Draft.pdf
courses/PH401/Computational/~$DesignPlanning.pptx
